

<section id="conocimientos">
    <h3>Conocimiento</h3>
    <ul class="knowledge-list">
        <li>Java nivel intermedio</li>
        <li>Spring boot</li>
        <li>Spring security</li>
        <li>Pruebas unitarias con junit y Mockyto</li>
        <li>Javascript - aplicado junto con React</li>
        <li>React - proyectos realizados con el mismo</li>
    </ul>
</section>