<!-- <section id="estudios">
    <h3>Estudios</h3>
    
    <div class="education-item">
        <h4>Título</h4>
        <div>
            <span class="year">2023-2025</span>
            <span class="title">Técnico Superior en Desarrollo de Software- Esc Sup de Comercio</span>
        </div>
    </div>

    <div class="courses">
        <h4>Cursos</h4>
        <ul class="course-list">
            <li>Introducción al desarrollo web HTML y CSS - Google</li>
            <li>Introducción a la IA generativa - Google</li>
            <li>Docker esencial - LinkedIn</li>
            <li>Curso completo de Git y Github. Preparate para el desarrollo - Udemy</li>
            <li>Arquitectura de software: De desarrollador a arquitecto o arquitecta - LinkedIn</li>
        </ul>
    </div>
</section> -->


<section id="estudios">
  <h3 class="section-title">Estudios</h3>

  <div class="education-timeline">

    <div class="education-item">
      <div class="education-year">2023 - 2025</div>

      <div class="education-content">
        <div class="education-category">Título</div>
        <div class="education-title">
          Técnico Superior en Desarrollo de Software
        </div>
        <div class="education-institution">
          Escuela Superior de Comercio
        </div>
      </div>
    </div>

    <div class="education-item">
      <div class="education-year">2025</div>

      <div class="education-content">
        <div class="education-category">Cursos</div>

        <ul class="course-list">
          <li>Introducción al desarrollo web HTML y CSS - Google</li>
          <li>Introducción a la IA generativa - Google</li>
          <li>Docker esencial - linkedIn</li>
          <li>Curso completo de Git y GitHub - Udemy</li>
          <li>Arquitectura de software: de desarrollador a arquitecto - LinkedIn</li>
        </ul>
      </div>
    </div>

  </div>
</section>

