<div class="profile">
    <h1>Nicolas Godoy</h1>
    <h2>Desarrollador de software</h2>
    <p>Aprendiendo, construyendo, innovando cada día</p>
</div>

<style>
    .profile h1 {
  font-family: "Inter", sans-serif;
  font-size: 3rem; 
  font-weight: 700; 
  letter-spacing: -0.02em; 
  line-height: 1.1;
}

.profile h2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.profile p {
  font-size: 0.9rem;
  color: #cbd5e1;
  font-style: italic;
}
</style>