---
import Project from './Proyecto.astro';

const projects = [
    {
        title: "DocIntelia",
        description: "Este proyecto sirve para consumir textos en pdf y poder buscar información en los mismos a través de IA",
        image: "/docintelia.png",
        tags: ["Next", "React", "Java", "Spring boot", "Spring security"]
    },
    {
        title: "Peluquería canina",
        description: "Este proyecto se utiliza para la administración básica de una peluquería canina",
        image: "/peluqueria.png",
        tags: ["Java", "Swing"]
    },
    {
        title: "Dashboard",
        description: "Aquí realizamos un dashboard con distintos tipos de datos, si bien no trabajamos con base de datos, es una muestra de lo que se puede hacer con la librería Shadon y React.",
        image: "/dashboard.png",
        tags: ["Next", "React", "Tailwind", "Shadcn"]
    }
];
---

<section id="proyectos">
    <h2>Proyectos</h2>
    {projects.map(project => (
        <Project {...project} />
    ))}
</section>