 <section id="skills">
                <h2>Skills</h2>
                <h3>Tecnologias conocidas</h3>
                <div class="Knowledge-skills">
                    <img  src="./java.png" alt=" icono de java" width="80px" height="80px">
                    <img  src="./spring1.png" alt=" icono de spring" width="80px" height="80px">
                    <img  src="./hibernate.png" alt=" icono de hibernate" width="80px" height="80px">
                    <img  src="./html.png" alt=" icono de html" width="80px" height="80px">
                    <img  src="./css-3.png" alt=" icono de css" width="80px" height="80px">
                    <img  src="./javascript.png" alt=" icono de javascript" width="80px" height="80px">
                    <img  src="./react.png" alt=" icono de react" width="80px" height="80px">
                    <img  src="./typescript.png" alt=" icono de typescript" width="80px" height="80px">
                    <img  src="./next.png" alt=" icono de next" width="80px" height="80px">
                    <img  src="./junit5.png" alt=" icono de junit5" width="80px" height="80px">
                    <img  src="./postgresql.png" alt=" icono de postgreSQL" width="80px" height="80px">                  
                    <img  src="./mysql.png" alt=" icono de mysql" width="80px" height="80px">
                    <img  src="./git.png" alt=" icono de git" width="80px" height="80px">
                    <img  src="./github (2).png" alt=" icono de github" width="80px" height="80px">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jenkins/jenkins-original.svg" alt=" icono de jenkins" width="80px" height="80px" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postman/postman-original.svg" alt=" icono de postman" width="80px" height="80px" />
                </div>
 </section>  
 
 <style>
    #skills {
  margin-bottom: 350px ;
}

.Knowledge-skills img {
  margin:15px;
}
 </style>